@font-face {
    font-family: PressStart2P;
    src: url(../fonts/PressStart2P-Regular.ttf);
}

body {
    overflow-x: hidden;
    background: url("../images/background3.png");
    background-size: cover;
    font-family: PressStart2P, Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    background-position: left top;
    color: #18191a;
}

header {
    background: #18191a;
    display: flex;
    margin: 0;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    line-height: 4rem;
    color: rgb(120,200,244);
}

header>img {
    height: 4rem;
    margin-right: 2rem;
}

main {
    width: 60rem;
    display: inline-block;
}

main h2{
    font-size: 1.6rem;
}

main li{
    line-height: 1rem;
    list-style: decimal;
    margin-left: 4rem;
}

aside {
    width: 23rem;
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 8rem;
    border-radius: 2rem;
    padding: 1rem;
    border: 4px solid #18191a;
    background: radial-gradient(#fff, rgb(120,200,250));
}

aside ol{
    text-align: center;
    padding-top: 1rem;  
}

aside>img {
    max-width: 100%;
    border-radius: 5%;
}

aside>p {
    text-align: center;
    padding-top: 1rem;
}

aside>ol>li {
    font-size: 0.7rem;
}

input[name="mint"] {
    width: 50rem;
    font-family: PressStart2P;
    height: 2rem;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 2rem;
    border: 4px solid #18191a;
    display: block;
    background: transparent;
}

input[type="submit"] {
    background-color: #eec0c6;
    background-image: linear-gradient(240deg, #eec0c6 0%, #7ee8fa 100%);  
    padding: 1rem 2rem;
    border: 4px solid #18191a;
    font-family: PressStart2P;
    margin-top: 1rem;
    
}

input[type="submit"]:hover {
    background: #5ad10b;
}

input[type="submit"]:active {
    background: #48a10d
}

section,
h2 {
    margin-left: 3rem;
    margin-right: 3rem;
}

h2 {
    margin-top: 2rem;
}

li {
    margin-top: 1rem;
}

footer {
    position: fixed;
    width: 100%;
    height: 3rem;
    bottom: 0;
    color: #18191a;
    padding: 1rem;
    text-align: right;
}

footer>* {
    margin-right: 2rem;
}

footer>.metaMaskId {
    margin-top: 0.5rem;
}

@media (max-width: 500px) {
    body{
        background-size: auto;
        background-position: 0% 30%;
    }
    aside{
        display: none;
    }
    main{
        width: 100%;
    }
    input{
        max-width: 80%;
    }
    header>img{
        display: none;
    }
    header{
        width: auto;
    }
    header>h1{
        font-size: 1.4rem;
        line-height: 2rem;
    }
}