@font-face {
    font-family: PressStart2P;
    src: url(../fonts/PressStart2P-Regular.ttf);
}

body {
    overflow-x: hidden;
    background: url("../images/background3.png");
    background-size: cover;
    font-family: PressStart2P, Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    background-size: cover !important;
    margin: 0;
    background-size: auto;
    background-position: left top;
    color: #18191a;
    background-attachment: fixed;
}

header {
    background: #18191a;
    display: flex;
    margin: 0;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    line-height: 4rem;
    color: rgb(120, 200, 244);
}

header>img {
    height: 4rem;
    margin-right: 2rem;
}

main {
    width: 60rem;
    display: inline-block;
    margin-left: 4rem;
}

main h2 {
    font-size: 1.6rem;
}

main ol {
    line-height: 1rem;
    list-style: decimal;
    margin-left: 4rem;
}

aside {
    width: 23rem;
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 8rem;
    border-radius: 2rem;
    padding: 1rem;
    background: radial-gradient(#fff, rgb(120, 200, 250));
    border: 4px solid black;
    display: none;
}

aside>img {
    max-width: 100%;
    border-radius: 5%;
    flex-grow: 2;
}

aside>p {
    text-align: center;
    padding-top: 1.5rem;
    width: 100%;
    padding-bottom: 1rem;
}

aside>.container {
    flex-wrap: wrap;
    display: flex;
    margin-left: 0.5rem;
}

aside .container div {
    width: 48%;
    margin-top: 1rem;
    border: 4px solid black;
    box-sizing: border-box;
    margin: 0.1rem;
    box-sizing: border-box;
}

aside div span {
    line-height: 1.2rem;
    min-width: 100%;
    text-align: center;
    display: block;
    font-size: 0.8rem;
}

aside div>span:first-of-type {
    font-size: 1rem;
    background-color: black;
    color: white;
    padding: 0.2rem 0;
}

input[name="mint"] {
    width: 50rem;
    font-family: PressStart2P;
    height: 2rem;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 2rem;
    border: 4px solid #18191a;
    display: block;
    background: transparent;
}

input[type="submit"] {
    background-color: #eec0c6;
    background-image: linear-gradient(240deg, #eec0c6 0%, #7ee8fa 100%);
    padding: 1rem 2rem;
    border: 4px solid #18191a;
    font-family: PressStart2P;
    margin-top: 1rem;
}

input[type="submit"]:hover {
    background: #5ad10b !important;
    cursor:pointer;
}

input[type="submit"]:active {
    background: #48a10d !important;
}

section,
h2 {
    margin-right: 3rem;
}

h2 {
    margin-top: 2rem;
}

li {
    margin-top: 1rem;
}

footer {
    position: fixed;
    width: 100%;
    height: 3rem;
    bottom: 0;
    color: #18191a;
    padding: 1rem;
    text-align: left;
}

footer>* {
    margin-right: 2rem;
}

footer>.metaMaskId {
    margin-top: 0.5rem;
}

@media (max-width: 500px) {
    body {
        background-size: auto;
        background-position: 0% 30%;
    }
    aside {
        display: none;
    }
    main {
        width: 100%;
    }
    input {
        max-width: 80%;
    }
    header>img {
        display: none;
    }
    header {
        width: auto;
    }
    header>h1 {
        font-size: 1.4rem;
        line-height: 2rem;
    }
}
#EWTMessage{
    text-align: right;
}
#EWTGetter{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    
}
#EWTGetter:active{
    color: red;

}