@font-face {
    font-family: PressStart2P;
    src: url(../fonts/PressStart2P-Regular.ttf);
}

* {
    cursor: url("../images/hand.gif");
}

body {
    overflow-x: hidden;
    background: lightyellow;
    font-family: PressStart2P;
    cursor: url('../images/hand.gif'), auto;
    /* TODO FIX */
    padding: 0;
    margin: 0;
    background-position: left top;
    color: #18191a;
}

header {
    background: #18191a;
    display: flex;
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 1rem;
    color: lightyellow;
}

header>img {
    height: 4rem;
    margin-right: 2rem;
}

main {
    width: 60rem;
    display: inline-block;
}

aside {
    width: 23rem;
    margin: 1rem;
    display: inline-block;
    position: absolute;
    right: 0;
    border-radius: 6%;
    padding: 1%;
    border: 4px solid #18191a;
}

aside>img {
    max-width: 100%;
    border-radius: 5%;
}

aside>p {
    text-align: center;
}

aside>ol>li {
    font-size: 0.7rem;
}

input[name="mint"] {
    width: 50rem;
    font-family: PressStart2P;
    height: 2rem;
    padding: 0.5rem;
    font-size: 2rem;
    border: 4px solid #18191a;
    display: block;
}

input[type="submit"] {
    background-color: white;
    padding: 1rem 2rem;
    border: 4px solid #18191a;
    font-family: PressStart2P;
    margin-top: 1rem;
}

input[type="submit"]:hover {
    background: lightgray;
}

input[type="submit"]:active {
    background: grey
}

section,
h2 {
    margin-left: 3rem;
    margin-right: 3rem;
}

h2 {
    margin-top: 2rem;
}

li {
    margin-top: 1rem;
}

footer {
    position: fixed;
    width: 100%;
    height: 3rem;
    bottom: 0;
    color: #18191a;
    padding: 1rem;
    text-align: right;
}

footer>* {
    margin-right: 2rem;
}

footer>.metaMaskId {
    margin-top: 0.5rem;
}